@import "tailwindcss";

@theme {
  --color-primary: #feeb9d;
  --color-text: #ffffff;
  --color-secondary: black;
  --color-LightYellow: #fff6d0;
}

/* body {
  background-color: var(--color-primary);
  color: var(--color-text);
} */
